body{
    margin-top: 35%;
    margin-right: 25%;
    display: flex;
    justify-content: center;
    background: #0f0f10;
}

table{
    
    width: 60%;
    height: 100%;
    padding: 1%;
    /* background-color: black; */
    align-items: center;
    display:inline;
}
 /* #table-container.choose-seat,td{
    width: auto;
    padding: 10px 20px;
    margin-bottom: 2%;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-size: 15px;
    border-radius: 20%;

    
}  */
.row1
{
    /* padding-left: 50%; */
    background:#19a825;
    /* border:  50px solid; */
}
.row2
{
    /* width: auto; */
    background:#19a825;
}
.row3
{
    /* width: auto; */
    background:#19a825;
}
.row4
{
    /* width: auto; */
    background:#19a825;

}
.sub-butt{
    background-color: #777784; /* Green */
    border: none;
    border-radius: 3%;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    margin-top: 1%;
    margin-left:1.1% ;
    align-items: center;
    font-size: 16px;
}
.sub-butt:hover{
    background-color: #ffffff; 
    color:black;
}
.empty
{
    background-color: #777784;
    border: none;
}
/* .choose-seat input
{
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #682c2c;
    border-radius: 50%;
} */